# Compound data types
Data types constructed from groups of data, possibly of different types (strings, integers, floats, etc.)

## Sequences
Sequences are *iterables*: objects capable of returning their members one at a time and in order.<br>
Strings, lists, and tuples are sequences.<br><br>
We can access individual elements of lists using *indexing* (subscripting).<br>
Indices start from the left at 0 and progress to the right to n - 1, where n is the length of the sequence.<br><br>
We can access subsets of lists using *slicing*, which builds on indices.<br>
Slices have format [start:stop:step], where the element at position "start" is included and the element at position "stop" is excluded.

### Lists
A *mutable* (values can change after the object is created) sequence with elements accessible via integer indices.<br>
Lists usually are *homogeneous* (same data type across elements) or *heterogeneous* (elements of different types).

In [1]:
my_list1 = ['A', 'm', 'a', 'n', 'd', 'a'] #homogeneous list
my_list2 = [6, 'hi', True, -3.2] # heterogeneous list

The following data were measured at <a href="https://www.weather.gov/wrh/Climate?wfo=oun">Will Rogers Airport</a> over the first 15 days of June. (Click on the Observed Weather tab to access such data.)<br>
Assume that minimum/maximum relative humidity (RH) occurred at the same time as the minimum/maximum temperature (t).

In [2]:
days = list(range(1, 16))
t_min = [61, 59, 62, 61, 67, 68, 68, 79, 65, 67, 72, 71, 75, 76, 76]
t_max = [76, 77, 78, 83, 80, 89, 84, 66, 83, 89, 94, 96, 94, 90, 91]
rh_min = [71, 57, 53, 58, 56, 59, 70, 69, 59, 54, 51, 43, 39, 48, 56]
rh_max = [100, 100, 83, 97, 96, 88, 100, 100, 93, 94, 97, 84, 71, 76, 77]

We expect the length of each list to be 15.

In [3]:
n = len(t_min)
print(n)
equal_lengths = len(t_min) == len(t_max) == len(rh_min) == len(rh_max)
print(equal_lengths)

15
True

We can access individual elements of lists using *indexing* (subscripting).<br>
Indices start at 0 for the left-most element and progress to the right by 1 to n - 1.

In [4]:
# Print the fourth element of t_max
print(t_max[3])

83

In [5]:
# Exercise: Print the sixth element of rh_max

Negative indices measured relative to the end of the list.<br>
We can work backwards through a list using negative indices!<br>
We can access the last element of a list using the -1 index.<br>
We can work further back using more negative indices.<br>

In [6]:
# Print the last element of days

In [7]:
# Exercise: Print the fourth element of t_max two different ways.

Let's try slicing!

In [8]:
print(days[3:7:2]) # start at index 3 (4th element), end at index 6 (7th element), every other element
print(days[2:8]) # missing step defaults to step = 1
print(days[:5]) # missing start defaults to start = 0
print(days[4:]) # missing stop defaults to stop = n

[4, 6]
[3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [9]:
x = 1,
print(x)

(1,)

### Tuples
An *immutable* (values cannot change after the object is created) sequence with elements accessible via integer indices.<br>
Tuples usually are *homogeneous* (same data type across elements) or *heterogeneous* (elements of different types).

Tuples look like lists but are enclosed by () rather than [].
They can be indexed and sliced like lists.

In [10]:
my_tuple = ('This', 'is', 'my', 'tuple!')

In [11]:
# Exercise: Access the last element of my_tuple
print(my_tuple[-1])

# Exercise: Access the middle elements of my_tuple
print(my_tuple[1:-1])

tuple!
('is', 'my')

## Mappings - dictionaries
Collection of *key:value* pairs, where each key is unique.<br>
Also iterables, like sequences<br>

# Control flow

## if and if-else statements
The <code>if</code> statement is used for *conditional executation*: It allows action(s) to be executed only if a condition is true.<br>
~~~python
if condition:
    statement1
    statement2
    ...
~~~

Multiple conditions can be checked using one or more <code>elif</code> statements.<br>
Only the code block for the first true condition is run; all others are ignored.
~~~python
if condition1:
    statement1
    statement2
    ...
elif condition2:
    statement1
    statement2
    ...
elif condition3:
    statement1
    statement2
    ...
...
~~~

If none of the conditions are met, action(s) can be executed using the <code>else</code> clause.
~~~python
if condition1:
    statement1
    statement2
    ...
elif condition2:
    statement1
    statement2
    ...
elif condition3:
    statement1
    statement2
    ...
...
else:
    statement1
    statement2
    ...
~~~

## Loops

### for loops
Iterate over the elements of a sequence in order and perform action(s) for each element.<br>
The action(s) are executed once for each element.<br><br>
To define a for loop:
<ol>
    <li>Start with the <code>for</code> keyword.</li>
    <li>Follow with a name for each item and the sequence.</li>
    <li>The statements to be executed follow as an indented code block.</li>
</ol>
for loops follow the syntax:

~~~python
for item in sequence:
    statement1
    statement2
    ...
~~~

### while loops
Execute action(s) repeatedly as long as a condition is true.<br>
The action(s) are executed each time the condition is checked and is true.<br><br>
To define a while loop:
<ol>
    <li>Start with the <code>while</code> keyword.</li>
    <li>Follow with a condition.</li>
    <li>The statements to be executed if the condition is true follow as an indented code block.</li>
</ol>
while loops follow the syntax:

~~~python
while condition:
    statement1
    statement2
    ...
~~~

### loops and else clauses
Any loop can have an <code>else</code> clause that executes when a loop terminates.

# Functions
A *body* or series of statements which *returns* some value to a caller.<br>
Can be passed zero or more *arguments* in the place of *parameters* which may be used in the *execution* of the body.<br><br>
Writing functions takes our code to the next level by:
* improving readability
* automating tasks
* allowing the same code to be reused
* helping us break a large task into parts

In [12]:
print('hi there ' \
     'whoa')

hi there whoa

## Built-in functions
Python provides many built-in functions that always are available to the user (no *import* required) and can be applied to many data types.<br>
Here are several useful built-in functions.<br>

| Function | Description |
| -------- | ----------- |
| abs(x) | returns the absolute value of number x |
| bool(o) | returns the Boolean value of object o |
| divmod(x, y) | returns (quotient, remainder) |
| enumerate(o) | later |
| id(o) | returns the address of object o in memory, as an integer |
| len(s) | returns the length of str s, as an integer |
| list(o) | returns the list constructed from iterable object o |
| max(o) | returns the maximum value of sequence o |
| min(o) | returns the minimum value of sequence o |
| pow(x, y) | returns x to the power y |
| print(s) | later |
| range(start=0, stop, step=0) | creates sequence of numbers |
| round(x, n = 0) | returns x rounded to n digits precision after the decimal point |
| str(o) | returns the string version of object o |
| sum(o) | returns the sum of the sequence o |
| type(o) | returns the type (list, bool, str, etc.) of object o |

In [13]:
# Exercise: Find the coldest of the minimum temperatures and the warmest of the maximum temperatures
print('The coldest minimum temperature is: ' + str(min(t_min)) + '°F')
print('The warmest maxumum temperature is: ' + str(max(t_max)) + '°F')

The coldest minimum temperature is: 59°F
The warmest maxumum temperature is: 96°F

In [14]:
# Exercise: Use the sum built-in function to find the average minimum temperature
print('The average minimum temperature is: ' + str(sum(t_min)/len(t_min)) + '°F')

The average minimum temperature is: 68.46666666666667°F

## Methods
A *method* is a function that belongs to an object and is based on the object's type.<br>
Naming convention: obj.methodname

Run each of the following cells to demonstrate some list methods.<br>
Try to predict what each method will do!

In [15]:
my_list1.append('A')
my_list1

['A', 'm', 'a', 'n', 'd', 'a', 'A']

In [16]:
my_list1.extend(['B', 'C'])
my_list1

['A', 'm', 'a', 'n', 'd', 'a', 'A', 'B', 'C']

In [17]:
my_list1.pop()
my_list1

['A', 'm', 'a', 'n', 'd', 'a', 'A', 'B']

In [18]:
# Exercise: You can put the index of the item you want to remove into pop() to remove that element
# Remove the 'n' from my_list1
# Check what my_list1 looks like
my_list1.pop(3)
my_list1

['A', 'm', 'a', 'd', 'a', 'A', 'B']

In [19]:
my_list1.reverse()
my_list1

['B', 'A', 'a', 'd', 'a', 'm', 'A']

In [20]:
my_list1.sort()
my_list1

['A', 'A', 'B', 'a', 'a', 'd', 'm']

In [21]:
my_list1.clear()
my_list1

[]

### *Reflection* What are some things you'd like to do with lists of data? The method probably exists!

## User-defined functions (DIY)
<p>To define a function:</p>
<ol>
    <li>Start with the <code>def</code> keyword.</li>
    <li>Follow with the name of your function, parentheses with optional parameters separated by commas, and a colon.</li>
    <li>The statements to be executed, including a return statement, follow as an indented code block.</li>
</ol>
Function definitions follow the syntax:

~~~python
def func(arg1, arg2):
    statement1
    statement2
    ...
    ...
    return value
~~~

<p>A function will not do anything until it is *called*.</p>

<p>Run the cell below that defines i_love_cats().<br>
Why doesn't anything happen when you run the cell? Why can't we see the output?</p>

In [22]:
# Example
def i_love_cats():
    return "I love cats! They're my favorite!"

<p>Running the cell simply adds i_love_cats to the *namespace* of this notebook. Now we can *call* the function in this notebook to cause it to execute.<br>
The function will execute only when it is called as i_love_cats().</p>

In [23]:
# Call the function by typing i_love_cats()
i_love_cats()

"I love cats! They're my favorite!"

i_love_cats() returns a string, which we can save and use elsewhere.
Let's call i_love_cats(), store its return value in a variable, and print it.

In [24]:
cat_string = i_love_cats()
print('My life motto is: ' + cat_string)

My life motto is: I love cats! They're my favorite!

Run the cell that defines silly_print() to add it to the notebook namespace.<br>
Notice that silly_print() has one parameter, which means the user must supply one argument to run it.

In [37]:
# Example
def silly_print(s):
    return 'Silly ' + s + '!'

Execute silly_print() with arguments.<br>
Make your own arguments!

In [38]:
print(silly_print('hi'))
print(silly_print('cat'))
# Insert your own argument
#print(silly_print(''))
#print(silly_print(''))

Silly hi!
Silly cat!

What happens if you don't insert any argument?<br>
Run the cell below without making any changes and see what happens.

In [39]:
silly_print()

TypeError: silly_print() missing 1 required positional argument: 's'

We got a <code>TypeError</code> because silly_print() is missing its one required argument!
<p>We can avoid this type of error by adding a default value.<br>
Let's add a default value to silly_print().</p>

In [40]:
# Example
def silly_print(s='default'):
    return 'Silly ' + s + '!'

In [42]:
silly_print()

'Silly default!'

A common operation meteorologists use are calculations on sequences of data.<br>
Let's write a function converting a temperature given in Fahrenheit to Celsius.<br><br>
The conversion equation from Fahrenheit to Celsius is:<br>
$$T_{°C}=\frac{5}{9}(T_{°F}-32)$$

In [30]:
def fahrenheit_to_celsius(t):
    return 5/9 * (t-32)

Let's try it out!

In [31]:
# Convert 32°F to Celsius
print(fahrenheit_to_celsius(32))

0.0

Write your own function to convert Fahrenheit to Kelvin! Consider if you would like to round your answer.<br>
The conversion equation from Fahrenheit to Celsius is:<br>
$$T_{K}=\frac{5}{9}(T_{°F}-32)+273.15$$

In [32]:
# Exercise: Write a function convert Fahrenheit to Kelvin
def fahrenheit_to_kelvin(t):
    return 5/9 * (t-32) + 273.15

What if we want to apply this function to every temperature in a list of temperatures, without having to access each temperature individually ourselves?<br>
We could use a for loop!

In [35]:
for temp in t_max:
    print(fahrenheit_to_celsius(temp))

24.444444444444446
25.0
25.555555555555557
28.333333333333336
26.666666666666668
31.666666666666668
28.88888888888889
18.88888888888889
28.333333333333336
31.666666666666668
34.44444444444444
35.55555555555556
34.44444444444444
32.22222222222222
32.77777777777778

We also could use the map() built-in function.

In [34]:
print(*list(map(fahrenheit_to_celsius, t_max)), sep=', ')

24.444444444444446, 25.0, 25.555555555555557, 28.333333333333336, 26.666666666666668, 31.666666666666668, 28.88888888888889, 18.88888888888889, 28.333333333333336, 31.666666666666668, 34.44444444444444, 35.55555555555556, 34.44444444444444, 32.22222222222222, 32.77777777777778

### \*args and **kwargs